@mixin colorButton($color: 'primary') {
  &#{&}-#{$color} {
    border-color: map-get($colors, $color);
    background: map-get($colors, $color);

    @if $color == 'primary' or
        $color == 'dark' or
        $color == 'danger' or
        $color == 'success' 
    {
      color: $white;
    } @else {
      color: $dark;
    }

    &:hover {
      border-color: map-get($colors, $color + '-active');
      background: map-get($colors, $color + '-active');
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 3px 3px rgba(map-get($colors, $color + '-active'), 0.3);
    }

    &:disabled, &[disabled] {
      &:hover {
        border-color: map-get($colors, $color);
        background: map-get($colors, $color);
      }
    }
    
  }
}