$primary: #3A5199;
$secondary: #90AFC5;
$light: #FEF2E4;
$dark: #003B46;
$danger: #F70025;
$success: #5C8F22;
$warning: #F5E356;
$white: #FFFFFF;
$primary-active: #4D648D;
$secondary-active: #68829E;
$light-active: #DDC5A2;
$dark-active: #021C1E;
$danger-active: #A11F0C;
$success-active: #486824;
$warning-active: #FAAF08;
$white-active: #F1F1F2;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "white": $white,
  "primary-active": $primary-active,
  "secondary-active": $secondary-active,
  "light-active": $light-active,
  "dark-active": $dark-active,
  "danger-active": $danger-active,
  "success-active": $success-active,
  "warning-active": $warning-active,
  "white-active": $white-active,
)